<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stammdaten Verwaltung</title>
    <link rel="stylesheet" href="/admin_style.css">
</head>
<body>
    <h1>Admin Tool</h1>

    <div style="margin-bottom: 20px;">
        <a href="/admin/ticket" class="btn-add">Tickets verwalten</a>
        <a href="/admin/kategorie" class="btn-add">Kategorien verwalten</a>
        <a href="/admin/logout" class="btn-cancel">Abmelden</a>
    </div>

</body>
</html>