<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stammdaten Verwaltung</title>
    <link rel="stylesheet" href="/admin_style.css">
</head>
<body>
    <h1>Admin Tool</h1>

    <%- include('../partials/error-box') %>

    <div style="margin-bottom: 20px;">
        <a href="/admin/tickets" class="btn-add">Tickets verwalten</a>
        <a href="/admin/categories" class="btn-add">Kategorien verwalten</a>
        <a href="/admin/sales" class="btn-add">Verkaufs-Statistik</a>
        <a href="/admin/logout" class="btn-cancel">Abmelden</a>
    </div>

</body>
</html>