<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Fehler</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Fehler</h1>

    <%- include('./partials/error-box') %>

    <div style="margin-bottom: 20px;">
        <a href="/" class="btn-add">Übersicht</a> 
        <a href="javascript:history.back()" class="btn-add">Zurück zur letzten Seite</a>
    </div>

</body>
</html>