<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/frontend_style.css">
    <title>Welcome</title>
</head>
<body>
    <div class="disorder-screen">
        <h1>Störung</h1>
        <%- include('../partials/error-box') %>
        <p>Es ist ein Fehler aufgetreten</p>
        <p>Die Anlage ist außer Betrieb</p>
        <p></p>
        <p>Bitte wenden Sie sich an das Service Personal!</p>
    </div>
</body>
</html>