<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/github-markdown.min.css">
    <link rel="stylesheet" href="/github.min.css">
    <link rel="stylesheet" href="/doc_style.css">

    <script src="/highlight.min.js"></script>

    <title>Dokumentation</title>
</head>

<body>
    <article class="markdown-body">
        <%- include('../doc/readme') %>
    </article>
    
    <script>hljs.highlightAll();</script>
</body>

</html>