<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/frontend_style.css">
    <title>Welcome</title>
</head>
<body>
    <a href="/categories" style="text-decoration: none; color: inherit;">
        <div class="welcome-screen">
            <h1>Willkommen</h1>
            <%- include('../partials/error-box') %>
            <p>Bitte berühren Sie den Bildschirm, um zu starten</p>
        </div>
    </a>
</body>
</html>