
SERVER_HOST=localhost
SERVER_PORT=3000

# wenn MySQL vorhanden ist 
DB_USE_MYSQL=false

DB_USER=[DB USER]
DB_PASSWORD=[DB PASSWORD]
DB_NAME=[DB NAME]
DB_HOST=localhost

# Auf true setzen, um die DB beim Seeden komplett zu leeren (force: true)
DB_SEED_FORCE=true

SESSION_SECRET=[YOUR SECRET KEY]
